@font-face {
    font-family: 'Wadik';
    src: url('Wadik.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Mazzard-R';
    src: url('MazzardH-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-M';
    src: url('MazzardH-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-S';
    src: url('MazzardH-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Wadik;
    background-color: #010101;
    margin: 0;
  }

  .content-block {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
  }

@media (min-width: 1024px) {
    .content-block {
      max-width: 450px;
    }
  }

  h1, h2 {
    color: #333;
  }

  img {
    max-width: 100%;
    height: auto;
  }