@font-face {
    font-family: 'Wadik';
    src: url('Wadik.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Mazzard-R';
    src: url('MazzardH-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-M';
    src: url('MazzardH-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-S';
    src: url('MazzardH-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Wadik;
    background-color: #010101;
    margin: 0;
}

.content-container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 1024px) {
    .content-container {
        width: 450px;
    }
}

h1 {
    color: linear-gradient(90deg, rgba(206,250,46,1) 0%, rgba(226,251,133,1) 50%, rgba(206,250,46,1) 100%);
}

h2 {
    background: linear-gradient(90deg, rgba(206,250,46,1) 0%, rgba(226,251,133,1) 50%, rgba(206,250,46,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}