@font-face {
    font-family: 'Wadik';
    src: url('Wadik.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Mazzard-R';
    src: url('MazzardH-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-M';
    src: url('MazzardH-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard-S';
    src: url('MazzardH-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --white: #FFF6FC;
    --black: #010101;
    --blue: #7BAEFB;
    --gradient: linear-gradient(90deg, rgba(206,250,46,1) 0%, rgba(226,251,133,1) 50%, rgba(206,250,46,1) 100%);
}

body {
    color: var(--white);
    background-color: var(--black);
    margin: 0;
}

.content-block {
    background-color: #7BAEFB;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.text {
    font-size: 3vw;
    font-family: Wadik;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    font-family: Wadik;
}

img {
    margin-left: 10%;
    max-width: 80%;
    height: auto;
}

@media (min-width: 1024px) {
    .content-block {
        margin: 0 auto;
        padding: 0;
        width: 450px;
    }
}