@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(https://myfonts.ru/myfonts?fonts=wadik);
* {
    --bg-color: #000;
    --white: #F3EFEF;
    --defoult-red: #F21023;
    --Inter: "Inter", sans-serif;
    --Wadik: 'Wadik', arial;
}

body{
    font-family: var(--Wadik);
    margin: 0;
    padding: 1.25rem;
    width: 100%;
    font-weight: 400;
    background-color: var(--bg-color);
}

.status-bar__dot {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 100vw;
    background-color: var(--defoult-red);
    margin-bottom: .1rem;
    margin-right: 1rem;
  }



.status_bar {
    /* border: 2px solid #F3EFEF; */
    color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    z-index: 1;
    justify-content: start;
    align-items: center;
    padding-right: 2rem;
    font-size: .875rem;
    line-height: 90%;
    position: fixed;
}

.status_bar .item {
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.status-bar__title-wrapper {
    font-family: var(--Wadik);
    grid-column: 1 / 2; 
    white-space: pre;
    align-items: center;
    height: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.status-bar__container {
    grid-column: 2 / 3;
    color: var(--white);
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.status-bar__gradient.is-dark-right{
    background-image: linear-gradient(to right, transparent, var(--bg-color));
    left: auto;
    right: 0;
}
.status-bar__gradient{
    z-index: 2;
    background-image: linear-gradient(to right, var(--bg-color), transparent);
    width: 7rem;
    height: 100%;
    position: absolute;
}
.status-bar__description {
    opacity: .8;
    color: var(--white);
    white-space: nowrap;
}
.status-bar__company {
    cursor: pointer;
    text-decoration: none;
    opacity: .4;
    font-weight: 600;
    margin-left: .5rem;
    color: var(--white);
    white-space: nowrap;
}
.wg-element {
    grid-column: 3 / 4;
}

.wg-button{
    color: var(--white);
    text-transform: uppercase;
    background-image: linear-gradient(135deg, rgba(214,163,228,0),rgba(214,163,228,.07));
    border: 1px solid rgba(255, 255, 255, .16);
    border-radius: 100vw;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    height: 100%;
    padding: .4rem .8rem;
    font-size: .825rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.marquee {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    pointer-events: none;
  }
  
  .marquee__inner-wrap {
    height: 100%;
    width: 100%;
  }
  
  .marquee span {
    display: flex;
    text-align: center;
    color: var(--white);
    white-space: nowrap;
    padding: 0 1rem;
    /* text-transform: uppercase; */
  }
  
  .marquee__inner {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    position: relative;
    animation: marquee 10s linear infinite;
    will-change: transform;
  }
  
  @keyframes marquee {
    0%  { transform: translate(0vw, 0); }
    100% { transform: translate(-50%, 0); }
  }

  